<div class="clearfix">
  <label for="editor">Editor</label><br />
  <div class="input">
    <div class="input-prepend">
      <span class="add-on">@</span>
      <input type="text" name="add_editor[]"><br/>
      <span class="help-inline">This email address will receive an email with a link to edit this content</span>
    </div>
  </div>
</div>