<% if current_user.present? -%>
  <h1>Welcome Back</h1>
<% else -%>
  <h1>Welcome to Newton!</h1>
<% end -%>

<h3>Get Started, create a Newt</h3>

<%= render 'form' %>

<% content_for :nav_action_buttons do %>
<% end %>
